<%- include('includes/header') %>

<div class="view-container">
    <div class="view-wrapper">
        <div class="view-sidebar1">
            <h2>Student's Profile</h2>
            <ul>
                <div><li>FIRST NAME:</li><p><%= teacher.firstName %></p></div>
                <div><li>LAST NAME:</li><p><%= teacher.lastName %></p></div>
                <div><li>DATE OF BIRTH:</li><p><%= teacher.DoB %></p></div>
                <div><li>CLASS:</li><p><%= teacher.class %></p></div>
                <div><li>EMAIL:</li><p><%= teacher.email %></p></div>
                <div><li>EMAIL:</li><p><%= teacher.phone %></p></div>
                <div><li>EMAIL:</li><p><%= teacher.createdDate.toDateString() %></p></div>
            </ul>
        </div>
        <div class="view-sidebar2">
            <h2></h2>
            <p></p>
        </div>
    </div>
</div>

<%- include('includes/footer') %>